{% extends 'base.html.twig' %}
{% block contenu %}

{% for stageCourant in stages %}

<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{stageCourant.titre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"> Proposé par: {{stageCourant.Entreprise.nom}}</h6>
    <p class="card-text"> {{stageCourant.description}} </p>


    <ul class="list-group list-group-flush">
    <li class="list-group-item">Domaine: &nbsp; {{stageCourant.domaine}} </li>
    <li class="list-group-item">Formation concernée(s): {%for formationC  in stageCourant.formations  %}
    {{ formationC.nom }} &nbsp;
    {% endfor %}
    </li>
    <li class="list-group-item"><a href="/stage/{{stageCourant.id}}" class="btn btn-primary">En savoir plus ...</a></li>
  </ul>
</div>
  </div>
</div>

{% endfor %}

{% endblock %}
